nav {
  padding: 10px 20px;
  display: flex;
  gap: 20px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.2s ease;

}
nav a:hover{
transform: scale(1.1);
}